<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTLAndroidNC"
        tools:targetApi="31">
        <activity
            android:name=".TrangThemVoucher"
            android:exported="false" />
        <activity
            android:name=".TrangDangKy"
            android:exported="true"></activity>
        <activity
            android:name=".TrangDangNhap"
            android:exported="true"
            android:theme="@style/Theme.BTLAndroidNC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrangCaNhan"
            android:exported="true"
            android:theme="@style/Theme.BTLAndroidNC"></activity>
        <activity
            android:name=".ChinhSuaThongTinCaNhan"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangChu"
            android:label="@string/app_name"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangThongBao"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangKhuyenMai"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangAdmin"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangUpdateSP"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangThemSPMoi"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangGioHang"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangCTSP"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangMuaHang"
            android:theme="@style/Theme.BTLAndroidNC"></activity>
        <activity
            android:name=".TrangDuyetDonHang"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangKHXemCTHoaDon"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangDuyetMotDonHang"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangXemDHDaMua"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangXemThongTinKH"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".TrangXemThongTinMotKH"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".OrderActivity"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".AddOrderActivity"
            android:theme="@style/Theme.BTLAndroidNC" />
        <activity
            android:name=".OrderTrackingActivity"
            android:theme="@style/Theme.BTLAndroidNC" />
    </application>

</manifest>